@import '../../../styles/utils';

.letter-of-a-word {
  width: calc(100%/6);
  text-align: center;
}

.result {
  padding-top: 2rem;

  span {
    font-size: 2rem;
  }  

  .border {
    border: 0.3rem solid black;
  }

}